@import "./fonts.scss";
@import "./base.scss";
@import "./mixins.scss";

html {
  @media (min-width: 1441px) {
    font-size: calc(100vw / 1440 * 16);
  }

  @media (max-width: 374px) {
    font-size: calc(100vw / 374 * 16);
  }
}

// ---------Оболочка-----------
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  background-color: #000000;
}

[class*="__container"] {
  width: 100%;
  max-width: rem(1270);
  margin: 0 auto;
  padding: 0 rem(15);

  @media (min-width: 1441px) {
    width: 127rem;
    max-width: 100%;
    padding: 0 rem(100);
  }
}
// ---------Оболочка-----------

// ---------MAIN-----------
.main {
  flex: 1 1 auto;
}
// ---------MAIN-----------

// ---------стандартные flex стили-----------
.d-fl {
  display: flex;
}

.d-fl-col {
  display: flex;
  flex-direction: column;
}

.d-fl-row {
  display: flex;
  flex-direction: row;
}

.d-fl-wrap {
  display: flex;
  flex-wrap: wrap;
}

.d-fl-wrap--reverse {
  display: flex;
  flex-wrap: wrap-reverse;
}
// ---------стандартные flex стили-----------

// ---------BEM-----------

// ---------button app-----------
.button__store {
  &-ios,
  &-google {
    flex: 1 1 auto;
    cursor: pointer;

    img {
      @include img(contain); // mixin for img
    }
  }
}
